<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Data Source=.;Initial Catalog=PingShuDB;User ID=pingshu;Password=123"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"/>
		<globalization requestEncoding="utf-8" fileEncoding="utf-8"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
        <httpHandlers>
            <add verb="*" path="*.mp3" type="MP3DownloadHandler"/>
            <add verb="*" path="*.zip" type="ZIPDownloadHandler"/>
        </httpHandlers>
    </system.web>


    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <add name="MP3DownloadHandler" verb="*" path="*.mp3" type="MP3DownloadHandler" preCondition="integratedMode"/>
            <add name="ZIPDownloadHandler" verb="*" path="*.zip" type="ZIPDownloadHandler" preCondition="integratedMode"/>
        </handlers>
    </system.webServer>
</configuration>
