.FM_container
{
    width:640px;
    height:960px;
    background:url(../../R/Img/Bg/bg1.jpg);
    position:relative;
}


.sword
{
    position:absolute;
    top:20px;
    left:20px;

}

.sword_text
{
    width:240px;
    height:130px;
    position:absolute;
    top:30px;
    left:330px;
}


.basic_dmgP_txt
{
    font-size:30px;
    color:blue;
    font-weight:bold;
}
.basic_dmgM_txt
{
    font-size:30px;
    color:#dc00cf;
    font-weight:bold;
}

.FM_list
{
    width:500px;
    height:700px;
    position:absolute;
    left:75px;
    top:120px;
    overflow-y:scroll;
    -webkit-transition :height 0.4s linear;
    border-radius: 10px;
           -webkit-animation-name:FM_listborderShake;
     -webkit-animation-duration: 2s;/*动画持续时间*/
     -webkit-animation-timing-function: ease-in-out; /*动画频率，和transition-timing-function是一样的*/
     -webkit-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
     -webkit-animation-direction: alternate; /*定义动画方式* normal  方向始终向前  alternate 当重复次数为偶数时方向向前，奇数时方向相反*/
    -webkit-animation-delay: 0s;
     -webkit-animation-fill-mode:forwards; 
}

.FM
{
    width:500px;
    height:120px;
    position:relative;
    top:10px;
    background:url(../../R/Img/Bg/bg2.png);
    background-size:100% 100%;
    margin-bottom:10px;


}

    .FM .FM_ico
    {
        position:absolute;
        top:20px;
        left:35px;
        width:64px;
        height:64px;

    }

    .FM .FM_name
    {
         width:330px;
         height:30px;
         position:absolute;
         top:15px;
         left:140px;
         font-size:30px;
        font-weight:bolder;
        line-height:30px;
    }


    .FM .FM_txt
    {
         width:330px;
         height:30px;
         position:absolute;
         top:50px;
         left:140px;
         font-size:20px;
        font-weight:bolder;
        line-height:30px;
        color:#000;
    }


    .FM .FM_count
    {
         width:100px;
         height:50px;
         position:absolute;
         top:16px;
         left:380px;
         font-size:30px;
        font-weight:bolder;
        line-height:30px;
        text-align:center;
    }

    .FM_container .body_FM
    {
        background:#000;
        position:absolute;
        bottom: 40px;
        right: 40px;
    }

.FM_container .bodyWalkDOM
{

     background:#000;
        position:absolute;
        bottom: 40px;
        right: 40px;
}


.FM_container .Mingwen_text
{
    text-align:center;
    padding-top:20px
}
.FM_container .btnBack
{
     position:absolute;
     bottom:40px;
     width:200px;
     height:80px;
     left:70px;
     line-height:80px;
     color:white;
     font-size:30px;
     font-weight:bolder;

}

.FM_container .btnShop
{
     position:absolute;
     bottom:40px;
     width:200px;
     height:80px;
     left:370px;
     line-height:80px;
     color:white;
     font-size:30px;
     font-weight:bolder;
}


        @-webkit-keyframes FM_listborderShake{

        0% {
          box-shadow:  0px 0px 60px 9px #fff;
       }


       100%{
           box-shadow:  0px 0px 0px 0px #8d9dff;
       }
}


