.shadowIco
{
    width:40px;
    height:40px;
    position:absolute;
    overflow:hidden;
    background-size:100% 100%;
    -webkit-transition:-webkit-transform 0.4s linear;
    box-shadow:20px 20px 20px #292929;
    z-index:20;
}

