<html>
<head>
	<title></title>
</head>
<body>
  <script type="text/javascript">
  		var temp_str=[
	  		'<form id="fetcher_form" action="http://localhost:8000/" method="post">',
			'<input type="text" name="chengyu_title" id="chengyu_title" value="aaaa" />',
			'<input type="text" name="chengyu_text" id="chengyu_text" />',
			'<input type="text" name="chengyu_fayin" id="chengyu_fayin" />',
			'<input type="text" name="chengyu_chuchu" id="chengyu_chuchu" />',
			'<input type="text" name="chengyu_lizi" id="chengyu_lizi" />',
			'<input type="text" name="chengyu_jinyi" id="chengyu_jinyi" />',
			'<input type="text" name="chengyu_fanyi" id="chengyu_fanyi" />',
			'<input type="text" name="chengyu_from_url" id="chengyu_from_url" />',
			'</form>'

  		].join('');
  		document.body.innerHTML+=temp_str;
  		var f=document.getElementById('fetcher_form')
  		//f.submit();
  </script>
</body>
</html>