.Coin
{
     -webkit-transition-property:top,left;
     -webkit-transition-duration:1s;
     -webkit-transition-timing-function:linear;
      width:48px;
      height:48px;
      position:absolute;
      background:url('../R/Img/Common/exp.png')

}

.expIco
{
    width:45px;
    height:45px;

}
