

@-webkit-keyframes panelShow{
      0%   { -webkit-transform:scale(0) }
      80%  {-webkit-transform:scale(1.2) }
      100% {-webkit-transform:scale(1)}
}



@-webkit-keyframes mark_add{
      0%   { -webkit-transform:translateY(0px) ;opacity:1}
      100% {-webkit-transform:translateY(-100px);opacity:0.5}
}

.mark_add
{
    position:absolute;
    width:100px;
    height:40px;
    font-weight:bolder;
    font-size:100px;
    text-align:center;
         -webkit-animation-name:mark_add;
     -webkit-animation-duration: 2s;/*动画持续时间*/
     -webkit-animation-timing-function: linear; /*动画频率，和transition-timing-function是一样的*/
     -webkit-animation-iteration-count: 1;/*定义循环资料，infinite为无限次*/
     -webkit-animation-direction: alternate;/*定义动画方式*/
     -webkit-animation-delay: 0s;/*动画延迟时间*/
     -webkit-animation-fill-mode:forwards;
}


.panelContainer
{
    width:100%;
    height:100%;
    position:absolute;
    z-index:30
}
.panelBg
{
    width:70%;
    height:90%;
    background:url('../R/Img/Panel/panel_border.gif');
    border-radius:10px;
    margin:0 auto;
    position: relative;
    top: 5%;
     -webkit-animation-name:panelShow;
     -webkit-animation-duration: 0.5s;/*动画持续时间*/
     -webkit-animation-timing-function: linear; /*动画频率，和transition-timing-function是一样的*/
     -webkit-animation-iteration-count: 1;/*定义循环资料，infinite为无限次*/
     -webkit-animation-direction: alternate;/*定义动画方式*/
     -webkit-animation-delay: 0s;/*动画延迟时间*/
     -webkit-animation-fill-mode:forwards;
}
.panelInner
{
    position:relative;
    margin:0 auto;
    width:98%;
    top:2%;
    height:96%;
    background-image:url('../R/Img/Common/book_bg.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    border-radius:10px;
    overflow-y:scroll;

}
.panelInner table
{
    width:100%;
    text-align: center;
    font-weight:bold;
    font-size:60px;
    line-height:60px;

}



.submitBtnLoginDiv
{
    text-align:center
}
.submitBtnLogin
{
font-size: 35px;
height:50px;
}
.tipLogin
{
    text-align:center;
      height:60px;
       font-size:40px;
}

.userSpan
{
    color:#083ca7;
    font-weight:bold;
    font-size:20px;

}