.player1
{
    width:350px; height:100px; position:absolute;top:0px; border-radius:5px;
}

.player2
{
     width:350px; height:100px; position:absolute;top:0px; right:0px;border-radius:5px;
}

.player3
{
    width:350px; height:100px; position:absolute; bottom:0px;border-radius:5px;
}

.player4
{
   width:350px; height:100px; position:absolute; bottom:0px; right:0px;border-radius:5px;
}
.playerInnerDiv
{
    float:left; width:280px;  background:#fff; height:50px;  margin:5px 5px;border-radius:5px;
}
.playerInnerDiv2
{
    float:left; width:190px;  background:#e9e6f1; height:30px;  margin:5px 5px;border-radius:5px;
}

.playerInnerDiv2 .name
{
     float:left;
      height:40px;
       font-size:20px;
       line-height:40px;
       color:#42219a;
        margin:0px 0px 0px 10px;
}
.playerInnerDiv2 .level
{
     float:right;
      height:40px;
       font-size:20px;
       font-weight:bolder;
       line-height:40px;
       color:#5f7d04;
        margin:0px 10px 0px 10px;
}

.bar1
{
    width:350px;
    height:60px;
    background:url('../R/Img/Panel/panel_border_1.gif');
    border-radius:5px;
}

.bar2
{
    width:200px;
    height:40px;
    background:url('../R/Img/Panel/panel_border_2.png');
}



.playerInnerImg
{
    float:left;
    width:60px;
    height:60px;
}