.TipContainer
{
    position:absolute;
    width:350px;
    height:100px;
    bottom:0px;
    right:0px;
    background:url('../R/Img/Panel/panel_border_1.gif');
    border-radius:10px;
}
.TipInner
{
    width:330px;
    height:80px;
    margin:10px 0px 0px 10px;
    background:#fff;
    border-radius:10px;
    text-align:center;
    font-size:30px;
    
}
.TipText
{
    width:80%;
    margin:0 auto;
    position:relative;
    top:10px;
}