.favouriteBg {}
.favouriteSpan{color:#FF0052;font-size:20px;font-weight:bold;margin-left: 20px; position:absolute}
.leftSong { width:50px; float:left; height:50px; margin-top:15px;  margin-bottom:15px ;  background-image:url('../img/SongPlayer/leftSong.png'); background-size:100% 100%}
.playSong{ width:80px;  float:left;height:80px; margin-left:30px;background-image:url('../img/SongPlayer/playSong.png'); background-size:100% 100%}
.rightSong { width:50px; float:left; height:50px;  margin-top:15px;margin-left:30px;margin-bottom:15px;background-image:url('../img/SongPlayer/rightSong.png'); background-size:100% 100%}
.pauseSong{background-image:url('../img/SongPlayer/pauseSong.png');}
.footer_player_UI{ width:240px; margin:0px auto 10px auto;height: 80px; }
.mask{text-align: center; height: 100%; line-height: 100%; position: fixed; background: #000; width: 100%; z-index: 100; opacity: .5; font-size: 30px; color: #fff }
.mask div{ width:100%; position: absolute; top: 50%;; text-align:center}
.indexPage {background:#d5d5d5;}
.clickTip  { display:none; text-align:center; position:fixed; bottom:-100px; margin-left: 10%; width:80%; height:60px; background:#333; border-radius:10px;  line-height:20px; font-size:15px; font-weight:bold ; color:White; padding-top:5px}
.XiaoHuaContainer{ position:relative}